extends ../layout

block content
  h1 Edit Account information
  h3 It is as easy as 1 2 3
  h4 Please enter all fields
  form(method='POST', action='/seller')
    #form-group
      label Phone number:
      input.form-control(name='phone_number', type='number', value=seller.phone_number)
    #form-group
      label Location
      input.form-control(name='location', type='text' value=seller.location)
    #form-group
      label Password:
      input.form-control(name='password', type='password')
    br
    input.btn.btn-success.register-button(id="submit-button" type='submit',value='Submit')
