extends layout

block content
  .about_intro Meet our team, the open closet family
  .container-fluid
    .row
      .col-md-4(style='text-align: -webkit-center')
        .card
          img(src='images/about/chady.jpg')
          h1.card_name Chady Najjar
          p.title CEO & Founder
          p.card_text Ecole Superieure des Affaires
          .contact_bar
            a.contact_icon(href='https://www.facebook.com/CHADYYYYYY')
              i.fab.fa-facebook
            a.contact_icon(href='https://www.instagram.com/chadi_najjar/')
              i.fab.fa-instagram
            a.contact_icon(href='')
              .fab.fa-linkedin
              
      .col-md-4(style='text-align: -webkit-center')
        .card
          img(src='images/about/kevin.jpeg')
          h1.card_name Kevin Ziadeh
          p.title CTO & Co-Founder
          p.card_text American University of Beirut
          .contact_bar
            a.contact_icon(href='https://www.facebook.com/kevin.ziadeh')
              i.fab.fa-facebook
            a.contact_icon(href='https://www.instagram.com/zkevin_2000')
              i.fab.fa-instagram
            a.contact_icon(href='')
              .fab.fa-linkedin

      //- .card
      //-   img(src='images/about/kevin.jpeg')
      //-   h1.card_name Kevin Ziadeh
      //-   p.title CTO & Co-Founder
      //-   p American University of Beirut
      //-   .contact_bar
      //-     a.contact_icon(href='https://www.facebook.com/kevin.ziadeh')
      //-       i.fab.fa-facebook
      //-     a.contact_icon(href='https://www.instagram.com/zkevin_2000')
      //-       i.fab.fa-instagram
      //-     a.contact_icon(href='')
      //-       .fab.fa-linkedin
          
      
        
