extends ../layout

block content
  h1 Edit Account information
  h4 Please enter all fields
  form(method='POST', action='/users/edit/'+user._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=user.name)
    #form-group
      label Email:
      input.form-control(name='email', type='text', value=user.email)
    #form-group
      label Username:
      input.form-control(name='username', type='text', value=user.username)
    #form-group
      select.from-control(name='fav_color' type='select')
        option(selected) Select your favorite color:
        option Red
        option Blue
        option Yellow
        option Black
        option White
        option Grey
        option Green
    #form-group
      select.from-control(name='fav_type' type='select')
        option(selected) Select your favorite type:
        option Casual
        option Formal
        option Party
    #form-group
      label Password:
      input.form-control(name='password', type='password')
    br
    input.btn.btn-success(type='submit', value='Submit')
    a.btn.btn-alert(href='/users/edit_password/'+user._id) Edit password
