extends ../layout

block content
  form(method='POST', action='/users/edit_password/'+user._id)
    #form-group
      label Old Password:
      input.form-control(name='oldpassword', type='password')
    #form-group
      label New Password:
      input.form-control(name='newpassword', type='password', id='password')
      .alert.alert-warning.pswrdRequirements(style="display: none")
        p Password should not contain a space at the end
        p Password should at least :
          ul
            li Contain one letter
            li Contain one number
            li Contain one symbol ~<>?!@#$%^&*()-
            li Be 6 at least six letters
      .progress
        .progress-bar(role="progressbar", max='100', style='width: 0%', id='pswrdStrength')
    #form-group
      label Confirm New Password:
      input.form-control(name='newpassword2', type='password')
    input.btn.btn-success(id='register-button' type='submit', value='Submit')
